body{
    background:  rgb(77, 255, 145);
    border-width: thick;
    border-color: black;
    border-style: solid;
    margin: 1cm;
padding: 2px;
max-width: 1080px;
margin:auto;
}

.titulo, .subtitulo, .postitulo {
color:black;
}
.titulo {
    font-family:fantasy;
    font-size:30px;
    text-align: center;
}
.postitulo {
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:hsl(355, 100%, 50%);
    background:#22d8e6
    font-style:oblique;  
    }
    
    .corartigo {
        background-color:hsla(294, 21%, 73%, 0.643) ;
        color:#2130fc;
        
    }
    .nova {
        
        background-color: blanchedalmond;
        color:hwb(263 7% 16%);
        text-align: center;
        font-size: 40;
    }
    .texto{
        text-align: justify;
        font-family:sans-serif;
        font-size: 25px;
        color:black;
        padding:1cm;
        border-width:20px;
        border-color: #a519cf;
        border-style:dotted;
        font-style: italic;
    }
    .rodape{
        
        color:#f80909;
        text-align: center;
    }
    .conteudo{
        border: 1px solid violet;
        display: flex;
        background-color: #2130fc;
        max-width: 300px;
        height: 150px;
    }
    .item{
        margin:25px;
        background-color: blueviolet;
       color: #080807;
    font-family:fantasy;
    font-size:40px;
    text-align: center
    }
    .novopostitulo{
        font-family:cursive;
        font-size: 20px;
        color:#08030c;
        padding:8px;
        border-width:10px;
        border-color: #04003b;
        border-style:dashed;
        text-align:justify;
    }
    .imagemlago{
        margin:0;
        border-radius: 25cm;
      width:100%;
        
    }
    .imagempessoal{
        border-radius: 95px;
        margin:auto;
        width:auto;
              
    }
    .abaixo{
        color: #a519cf;
        font-size: 25px;
        font-style:initial;
        margin:15px 5cm 15px 8cm;
    }
    .listadecontatos{
        list-style-type:circle;
        padding: 2px 2px 2px 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:15;
        font-weight: bold;
    }
    .blocktext1{
        color: red;
    }
